* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
.row{
    background: linear-gradient(60deg, rgb(44, 31, 95) 0%, rgb(1, 92, 104) 100%);
    color:white;

}

footer{
    text-align: center;       
}

img{
    margin-top: 1rem;
    width: 40px;
    margin-right: .5em;
}
.redes{
    display: flex;
    justify-content: center;
    align-items: center;
   }
  p>a {
    display: inline-block;
    border: 2px solid black;
    color: white;
    text-align: center;
    margin-top: 1rem;
    text-decoration: none;
    border-radius: 1.4rem;
  
    
}