<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"><img src="../../../assets/Logos/IMG_20220904_175218.png" id="fotoPerfil" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-5">
        <h1>Morandi Santiago</h1>
        <h1>Full Stack Developer Jr</h1>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-10">
        <span>
            <h1>Acerca de mi</h1>
            <p>Estudiante de Ingeniería Industrial en la Universidad Tecnológica Nacional en la provincia de Mendoza. 
                Me considero una persona proactiva, con habilidades, conocimientos y una actitud positiva y decisiva frente a cualquier tipo de problema.
                Mi objetivo es crecer profesionalmente logrando adquirir conocimientos y aptitudes que me formen como profesional.</p>
        </span>
    </div>
</div>
