<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"><img src="../../../assets/Logos/IMG_20220904_175218.png" id="fotoPerfil" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h1>Morandi Santiago</h1>
        <h1>Full Stack Developer Jr</h1>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi inventore iusto quis illum amet vitae dicta aliquam ab dignissimos modi quia dolores ipsum itaque consectetur beatae ea, delectus in molestiae.</p>
        </span>
    </div>
</div>
