* {
      
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}
.row{
    padding: 50px;
    background: linear-gradient(100deg, rgb(44, 31, 95) 0%, rgb(1, 92, 104) 100%);
    color:white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    }
    .table{ color: aliceblue;
      text-align: justify;

    }
    
#agregar{
  background-color: #8d90f270; /* adentro*/
  color: white; /* letras*/
  border: rgb(78, 155, 176) solid;
  text-transform: uppercase; /* letra*/
  padding: 0.25rem;
  width: 5rem;
  text-align: center;
  margin: 1rem;
  }
  #agregar:hover{
    background-color: #4c125a8f;
    color:white;
    }

    h1{
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
 
    .confirmation-dialog {
      background-color: white;
      border: 1px solid #ccc;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      padding: 20px;
      width: 300px;
      text-align: center;
    }
    
    .confirmation-dialog p {
      margin-bottom: 20px;
    }
    
    .confirmation-dialog .btn {
      margin-right: 10px;
    }
    