<div class="row">
 <h1> Experiencia laboral</h1>
 <div class="col-lg-11">
    <ul>
        <li><h2>Trabajo 1 </h2> <h3>años</h3></li>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta tempore commodi sunt voluptates? Ab cumque
               culpa ratione excepturi, voluptate molestiae voluptas saepe nobis fuga veritatis expedita, vitae ducimus esse magnam!</p>
    </ul>
    <ul>
        <li><h2>Trabajo 2 </h2> <h3>años</h3></li>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta tempore commodi sunt voluptates? Ab cumque
               culpa ratione excepturi, voluptate molestiae voluptas saepe nobis fuga veritatis expedita, vitae ducimus esse magnam!</p>
    </ul>
     <ul>
        <li><h2>Trabajo 3 </h2> <h3>años</h3></li>
         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta tempore commodi sunt voluptates? Ab cumque
                 culpa ratione excepturi, voluptate molestiae voluptas saepe nobis fuga veritatis expedita, vitae ducimus esse magnam!</p>
    </ul>
 </div>
</div>

<div >
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    </div>