.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logoAP { 
width: 110px;
margin-left: 1em;

}
#nave{ display: flex;
        align-items: center;
    margin-right: 1em;
    flex-direction: row;
}
li{
    display: flex;
    margin-right: 1em;
}
/*--- celular---*/
@media(max-width:575px){
.container{
    flex-direction:column;
}
.redes{
    display:flex;
    
    align-items:center;
}
.redes img{
    margin: 0.3em;
}}

