<div class="row"> 
    <h1>Hard and soft skills</h1>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
        [lazy]="true"
        [imageSrc]="'../../../assets/Logos/facebook.png'"
        [showImage]="true"
        [imageWidth]="50"
        [imageHeight]="50"
        [backgroundGradient]="true"
        [backgroundOpacity]=".1"
        [outerStrokeColor]="'#0665cb'"
        [outerStrokeGradient]="true"
        [outerStrokeGradientStopColor]="'#79bafb'"
        
    ></circle-progress>
    </div>

<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="500"
    [lazy]="true"
    [imageSrc]="'../../../assets/Logos/facebook.png'"
    [showImage]="true"
    [imageWidth]="50"
    [imageHeight]="50"
    [backgroundGradient]="true"
    [backgroundOpacity]=".1"
    [outerStrokeColor]="'#0665cb'"
    [outerStrokeGradient]="true"
    [outerStrokeGradientStopColor]="'#79bafb'"
    
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="50"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="500"
    [lazy]="true"
    [imageSrc]="'../../../assets/Logos/facebook.png'"
    [showImage]="true"
    [imageWidth]="50"
    [imageHeight]="50"
    [backgroundGradient]="true"
    [backgroundOpacity]=".1"
            [outerStrokeColor]="'#0665cb'"
        [outerStrokeGradient]="true"
        [outerStrokeGradientStopColor]="'#79bafb'"
    
></circle-progress>
</div>
</div>
<div >
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    </div>