<div class="row">
 <h1> Experiencia laboral</h1>
 <div class="col-lg-11">
    <ul>
        <li><h2>Trabajo 1 </h2> <h3>años</h3></li>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta tempore commodi sunt voluptates? Ab cumque
               culpa ratione excepturi, voluptate molestiae voluptas saepe nobis fuga veritatis expedita, vitae ducimus esse magnam!</p>
    </ul>
    <ul>
        <li><h2>Trabajo 2 </h2> <h3>años</h3></li>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta tempore commodi sunt voluptates? Ab cumque
               culpa ratione excepturi, voluptate molestiae voluptas saepe nobis fuga veritatis expedita, vitae ducimus esse magnam!</p>
    </ul>
     <ul>
        <li><h2>Trabajo 3 </h2> <h3>años</h3></li>
         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta tempore commodi sunt voluptates? Ab cumque
                 culpa ratione excepturi, voluptate molestiae voluptas saepe nobis fuga veritatis expedita, vitae ducimus esse magnam!</p>
    </ul>
 </div>
</div>

