@import url(//fonts.googleapis.com/css?family=Lato:300:400);


h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:50px;
}

.row {
  position:relative;
  text-align:center;
  background: linear-gradient(100deg, rgb(44, 31, 95) 0%, rgb(1, 92, 104) 100%);
  color:white;
}

.inner-header {
  height:65vh;
  width:100%;

}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.waves {
  position:relative;
  width: 101%;
  height:50vh;
  margin-bottom:-7px; 
  min-height:100px;
  max-height:150px;
}
.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}
/* Animacion */
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  -webkit-animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 575px) {
  .waves {
    height:70px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1{font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:30px;}
}


.spinner {
   width: 40px;
   height: 40px;
   display: grid;
}

.spinner::before,
.spinner::after {
   content: "";
   grid-area: 1/1;
   background: var(--c) 50%  0,         var(--c) 50%  100%,         var(--c) 100% 50%,         var(--c) 0    50%;
   background-size: 9px 9px;
   background-repeat: no-repeat;
   animation: spinner-3hs4a3 1.2s infinite;
   -webkit-animation: spinner-3hs4a3 1.2s infinite;
}

.spinner::before {
   --c: radial-gradient(farthest-side,#afb0f4 92%,#0000);
   margin: 2px;
   background-size: 4px 4px;
   animation-timing-function: linear;
}

.spinner::after {
   --c: radial-gradient(farthest-side,#afb0f4 92%,#0000);
}

@keyframes spinner-3hs4a3 {
   100% {
      transform: rotate(.5turn);
      -webkit-transform: rotate(.5turn);
      -moz-transform: rotate(.5turn);
      -ms-transform: rotate(.5turn);
      -o-transform: rotate(.5turn);
}
}
