* {
    
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}
.row{
    padding: 50px;
    background: linear-gradient(100deg, rgb(44, 31, 95) 0%, rgb(1, 92, 104) 100%);
    color:white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    }
    #fotoPerfil{
    width: 200px;
    border-radius: 100%;
    box-shadow: 5px 5px 5px rgb(234 232 232 / .5);
    margin-top: 1rem;
}
   h1 {
    text-decoration: underline;
  text-decoration-thickness: 2px;
  }
  p {
    font-family: 'Lato', sans-serif;
  display:grid;
  width: 54rem;
  margin-left: 10rem;
  } 
  

  #fotoPerfil {
    width: 200px;
    height: auto;
    margin-bottom: 1rem;
    transition: transform 0.3s ease-in-out;
  }
  
  #fotoPerfil:hover {
    transform: scale(1.1);
  }

  #editar{ 
  background-color: #8d90f270; /* adentro*/
  color: white; /* letras*/
  border: rgb(78, 155, 176) solid;
  text-transform: uppercase; /* letra*/
  padding: 0.25rem;
  width: 5rem;
  margin: 1rem;
    }
  #editar:hover{
    background-color: #4c125a8f;
    color:white;
    }
    @media (max-width: 576px) {
      #about .col-xs-12.col-sm-4.col-md-8.col-lg-12 span p {
        width: 100%;
        margin: 0;
        text-align: justify;
      }
    }