<div class="row">
    <div class="container">
<div class="Logo">
    <img src="../../../assets/Logos/APLogo.png" id="logoAP">
</div>

<div class="redes">
     
        <div class="collapse navbar-collapse" ></div>
        
<ul  id="nave"  class="navbar-nav ml-auto">
    <li class="nav-item active">
        <a class="nav-link js-scroll-trigger lead" href="#about">Acerca de mi</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger lead" href="#HyS">Skills</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger lead" href="#experience">Experiencias/estudios </a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger lead" href="#contact">Contacto</a>
    </li>
   
    
    <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
</ul>

</div>
    </div>
</div>

  
