/* .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logoAP { 
width: 110px;
margin-left: 1em;

}
#nave{ display: flex;
      align-items: center;
  margin-right: 1em;
  flex-direction: row;
}


@media(max-width:575px){
.container{
  flex-direction:column;
}
.redes{
  display:flex;
  align-items:center;
  
}
.redes img{
  margin: 0.3em;
}}  
li{margin-right: 2em;
  --primary-color: rgb(255, 255, 255);
  --hovered-color: #0e0202;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 15px;
  gap: 0.5rem;
  align-items: center;
}

li a {
  margin: 0;
  position: relative;
  font-size: 15px;
  color: var(--primary-color)
}

li::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

li a::before {
  position: absolute;
        width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

li:hover::after {
  width: 100%;
}

li:hover a::before {
  width: 100%;
}
*/


.logo{
  width: 110px;

}

.btn, .btn-outline-success, .btn:active, .btn:target{
background-color: #8d90f270; /* adentro*/
color: white; /* letras*/
border: rgb(78, 155, 176) solid; /* borde*/
text-transform: uppercase; /* letra*/
}
/* borde doble del nav*/
.btn.active, .navbar-nav .nav-link.active {
  background-color: #30073a8f;
color: white;
border: rgb(92, 186, 212) double;

}
.btn:hover{
background-color: #4c125a8f;
color:white;
}
.nav-link{
padding: 0.25rem;
}
.navbar-toggler-icon {
color: #e0046c;
}
#ing, #engre{
  width: 150px;
  background-color: #30073a8f;
}